{# Opnemen main files #}

{% extends "main.html.twig" %}

{% block header %}

<script>
    $(document).ready( function() {
 
        const mySlides = [
            { src: "{{data.0.afbeelding}}", title: "Title #1", subtitle: "Subtitle #1" }
        ]
        Vegas(mySlides)



        $(".trash").click (function() {
            let trash = $(this).attr('data-value')
            

            $.ajax({
                url: "./index.php",
                method: "GET",
                data:{
                    action: "verwijderBoodschap",
                    user_id: ,
                    artikel_id: 
                },
                    success: function() {

                    }
                
            })
        })







            
})

</script>

{% endblock %}

{#content boodschappenlijst pagina#}
{% block content %}
<div class = "row m-5">
    <div class = "col-12 box_boodschappenlijst" >
        <div class = "row">
            <div class = "rol-12">
            <h1 style= "color: var(--darker-green); font-size: 84px;"> Boodschappen</h1>
            </div>
            <div class = "col-12 ">
            {% set i = 0 %}

            {% for boodschap in data %}
                {% set i = i + 1 %}
                <div class = "boodschappenlijst">
                    <img src = "{{ boodschap.artikel_data.afbeelding }}" />
                    <h2>{{boodschap.artikel_data.naam}} </h2>
                    <p>{{boodschap.artikel_data.omschrijving}} </p>
                    
                    <form method = "GET" action = "">
                        <input type = "text" name = "aantal" value= "{{boodschap.boodschap_data.bestelAantal}}">
                    </form>
                    <i class="fa-solid fa-euro-sign fa-2x euro" style = "color: var(--darker-red)"></i>
                    <div> {{boodschap.artikel_data.prijs}}</div>
                    <i class="fa-solid fa-check fa-3x check" style = "color: var(--darker-green)" data-value = "{{i}}" ></i>
                    <i class="fa-solid fa-trash-can fa-3x trash" style = "color: var(--darker-red)"></i>
                    
                
                </div>
            {% endfor %}
            
            </div>
        </div>
        <div class = "row">
        </div>
    </div>
</div>

 {# Dump #}
       <pre>
        {{ dump(i) }}
       </pre>

{% endblock %}