{# Opnemen main files #}

{% extends "main.html.twig" %}

{% block header %}

<script>
    $(document).ready( function() {
 
        const mySlides = [
                    { src: "https://hips.hearstapps.com/hmg-prod/images/vegan-food-list-1563809023.png", title: "Title #1", subtitle: "Subtitle #1" },
                    ]
        Vegas(mySlides)


            
})




</script>

{% endblock %}

{#content boodschappenlijst pagina#}
{% block content %}
<div class = "row m-5">
    <div class = "col-12 box_boodschappenlijst p-5" >
        <div class = "row">
            <div class = "rol-12 ">
            <h1 style= "color: var(--darker-green); font-size: 84px;"> Boodschappen</h1>
            </div>
            <div class = "col-12 ">

            {% for boodschap in data %}
                <div class = "boodschappenlijst">
                    <img src = "{{ boodschap.artikel_data.afbeelding }}" />
                    <h2>{{boodschap.artikel_data.naam}} </h2>
                    <p>{{boodschap.artikel_data.omschrijving}} </p>
                    
                    <form method = "GET" action = "./index.php">
                        <input type = "hidden" name = "action" value = "updateBoodschapAantal">
                        <input type = "hidden" name = "artikel_id" value = "{{boodschap.boodschap_data.artikel_id}}">
                        <input type = "hidden" name = "user_id" value = "{{boodschap.boodschap_data.user_id}}">
                        <input type = "text" name = "nieuwAantal" value= "{{boodschap.boodschap_data.bestelAantal}}">
                    </form>
                    <i class="fa-solid fa-euro-sign fa-2x euro"></i>
                    <div> {{boodschap.artikel_data.prijs}}</div>
                    <i class="fa-solid fa-check fa-3x check" style = "color: var(--darker-green)" data-value = "{{i}}" ></i>
                    <div onclick= "verwijderBoodschap({{boodschap.boodschap_data.user_id}}, {{boodschap.artikel_data.id}})" >
                        <i class="fa-solid fa-trash-can fa-2x trash"></i>
                    </div>
                
                </div>
            {% endfor %}
            
            </div>
        </div>
        <div class = "row boodschappenlijst_totaal">
            <div class = "col-12">
                <hr class = "totaal">
                <h1> Totaal </h1>
                <div onclick = "verwijderBoodschappenlijstUser({{1}})">
                    <i class="fa-solid fa-trash-can fa-3x trash"></i>
                </div>
                 <i class="fa-solid fa-euro-sign fa-3x euro"></i>

                 <div class = "totaalPrijs">
                    {% set totaalPrijs = 0 %}
                    {% for boodschap in data %}
                        {% set totaalPrijs = totaalPrijs + boodschap.artikel_data.prijs * boodschap.boodschap_data.bestelAantal %}
                    {% endfor %}
                    {{totaalPrijs}}
                </div>
            </div>

        </div>
    </div>
</div>

 {# Dump #}
       {# <pre>
        {{ dump(data.0) }}
       </pre> #}

{% endblock %}