{# opnemen van de main file#}


{% extends "main.html.twig" %}

{% block header %}

    <script>
       
    {# Vegas.js #}
        $(document).ready( function() {
 
            const mySlides = [
                { src: "{{data.0.afbeelding}}", title: "Title #1", subtitle: "Subtitle #1" }
            ]
            Vegas(mySlides)

// Waardering functies
            // $('.star').each((index,elem) => {
            //     const waardering = {{data.0.waardering}}
            //     console.log(`gem waardering is: ${waardering}`)
            //     const itemValue = $(elem).attr('data-value')
            //     if (itemValue <= waardering) {
            //         $(elem).addClass('fas')
            //     }
            // })
    
            // $(".star").click( function() {
            //     const rating = $(this).attr('data-value')
            //     console.log(`Value: ${rating}`)

            //     //Clear the stars
            //     $(".star").removeClass('fas')

            //     // Paint it red!
            //     $('.star').each((index,elem) => {
            //         const itemValue = $(elem).attr('data-value')
            //         if (itemValue <= rating) {
            //             $(elem).addClass('fas')
            //         }
            //     })

            //     $.ajax({
            //         url: "./index.php",
            //         method: "GET",
            //         data: {
            //             action: "toevoegenWaardering",
            //             gerecht_id: {{data.0.id}},
            //             rating: rating},
            //             success: function(data) {
            //                 console.log(rating)

            //                 // location.reload()
            //         }
            //     })
            // })

            // Favoriet functies
             // Check huidige favoriet status
        let statusFavoriet = false
        
        
        // console.log(${favoriet})
           function selecteerAlsFavoriet(){

                 let yn = {{data.0.is_favoriet}} === 0 ? false : true
              
                // console.log({{data.0.is_favoriet}})
                if (yn){
                    $(".favoriet").addClass('fas')
                    console.log("is favoriet")
                    statusFavoriet = true
                }
            }
            selecteerAlsFavoriet()


            $(".favoriet").click( function() {
                let favoriet = $(this).attr('data-value')

                // Maak favoriet
                    if (favoriet == 1 && statusFavoriet == false) {
                        $(this).addClass('fas')
                        statusFavoriet = true

                        $.ajax({
                            url: "./index.php",
                            method: "GET",
                            data: {
                                action: "toevoegenFavoriet",
                                gerecht_id: {{data.0.id}}
                            },
                            success: function(data) {

                                console.log(`success: ${data}`)
                                // location.reload()
                            } 
                        })
                    } else {
                        $(this).removeClass('fas')
                        statusFavoriet = false

                        $.ajax({
                            url: "./index.php",
                            method: "GET",
                            data: {
                                action: "verwijderFavoriet",
                                gerecht_id: {{data.0.id}}
                            },
                            success: function(data) {

                            console.log(`success: ${data}`)

                        // location.reload()
                            } 
                        })
                    }
            })   
        })
    </script>

{% endblock %}


{#content detail pagina#}

{% block content %}
    <div class = "row m-5 detail_box">
        <div class = "col-sm-5 col-xl-6 image-detail" style = "background-image: url('{{data.0.afbeelding}}')">
        </div>
        <div class = "col-sm-7 col-xl-6 p-4 detail-background">
            <div class = "row">
                <div class = "col-12">
                    <div class = "icons-detail"><i class = "fa fa-user-group fa-xl" style = "color: red"></i> 4 </div>
                    <div class = "icons-detail"><i class="fa-solid fa-euro-sign fa-xl" style = "color:red"></i>{{data.0.totaal_prijs|round(1)|number_format(2, '.', ',')}}</div>
                    <div class = "icons-detail"><i class="fas fa-fire fa-xl" style = "color: red"></i> {{data.0.kcal|round(0)}}</div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-8" style = "padding-top:30px; padding-left:32px">
                    <h1 style= "color: #6e8722">{{data.0.titel}}</h1>
                </div>
                <div class = "col-4">
                    {% for i in range(1, 5) %}
                    <i {% if data.0.waardering >= i %} 
                            class="fas fa-star star" data-value = {{i}}
                        {% else %} 
                            class="far fa-star star" data-value = {{i}}
                        {% endif %} onclick="waarderingGerecht({{data.0.id}}, {{i}})"> </i>
                {% endfor %}
                </div>
            </div>
            <div class = "row">
                <div class = "col-6" style = "padding-left:32px">
                    <h4  style= "color: #6e8722; display: inline-block">Keuken</h4> <span style = "padding-left: 30px">{{data.0.keuken}}</span>
                </div>
                <div class = "col-6">
                    <h4  style= "color: #6e8722; display: inline-block">Type</h4> <span style = "padding-left: 30px">{{data.0.type}}</span>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12" style = "padding-left:32px">
                    <p>{{data.0.lange_omschrijving}}<br><br>{{data.0.lange_omschrijving}}</p>
                </div>
            </div>
            <div class = "row">
                <div class = "col-6">
                    <div class="padding-button-detail">
                        <a href="index.php?action=boodschappenlijst" >
                        <button type = "button" class = "button-detail" onclick = "toevoegenBoodschappenGerecht({{data.0.id}})">
                        <h3>Op lijst</h3></button></a>                              
                    </div>
                </div>
                <div class = "col-6">
                    <i class = " far fa-heart favoriet" data-value = "1"></i>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-8">
            <div class = "tabs">
                <div class = "tabs_sidebar">
                    <button class = "tabs_button" data-for-tab = "1" ><h4 style = "color: var(--darker-green)">Ingrediënten</h4></button>
                    <button class = "tabs_button" data-for-tab = "2" ><h4 style = "color: var(--darker-green)">Bereidingswijze</button>
                    <button class = "tabs_button" data-for-tab = "3" ><h4 style = "color: var(--darker-green)">Opmerkingen</button>
                </div>
                <div class= "tabs_shadow">
                    <div class = "tabs_content "  data-tab = "1">
                        {% for ingredient in data.0.ingredienten %}
                            <div class = "ingredient_content">
                                <img src = "{{ ingredient.afbeelding }}"/>
                                <h4> {{ ingredient.naam }} </h4>
                                <p>{{ ingredient.omschrijving}}</p>
                                <h6> Hoeveelheid: </h6> {{ ingredient.aantal }} {{ ingredient.eenheid}}
                            </div>
                        {% endfor %}
                        {% for ingredient in data.0.ingredienten %}
                            <div class = "ingredient_content">
                                <img src = "{{ ingredient.afbeelding }}"/>
                                <h4> {{ ingredient.naam }} </h4>
                                <p>{{ ingredient.omschrijving}}</p>
                                <h6> Hoeveelheid: </h6> {{ ingredient.aantal }} {{ ingredient.eenheid}}
                            </div>
                        {% endfor %}
                        {% for ingredient in data.0.ingredienten %}
                            <div class = "ingredient_content">
                                <img src = "{{ ingredient.afbeelding }}"/>
                                <h4> {{ ingredient.naam }} </h4>
                                <p>{{ ingredient.omschrijving}}</p>
                                <h6> Hoeveelheid: </h6> {{ ingredient.aantal }} {{ ingredient.eenheid}}
                            </div>
                        {% endfor %}

                    </div>
                    <div class = "tabs_content" data-tab = "2">
                        {% for bereiding in data.0.bereidingen %}       
                            <div style = "display: flex; padding-bottom: 25px; padding-top: 25px; padding-left: 30px;">                     
                                <div style = "width: 80px; height: 80px; aspect-ratio: 1; background-color: var(--lighter-orange); border-radius: 50%;" >
                                    <div style = "position: relative; left: 30%; top: -4%; color: var(--white); font-size: 55px;"> {{bereiding.nummeriekveld}}. 
                                    </div>
                                </div> {# CSS werkt niet als class in main.css. word door iets overschreven.. #}
                               <p class = "bereiding_content">{{ bereiding.tekstveld}}</p>
                            </div>                                                           
                        {% endfor %}
                    </div>
                    <div class = "tabs_content" data-tab = "3">
                        {% for opmerking in data.0.opmerkingen %}
                            <div style = "display: flex; padding-top: 25px; padding-left: 40px; ">
                                <div style = "width: 120px; height: 120px; aspect-ratio: 1; border-radius: 50%; border: 4px solid var(--lighter-orange);
                                    background-position: center;   background-size: cover; background-image: url({{opmerking.afbeelding}}) ">
                                </div>
                                <h2 style = "color: var(--darker-green); padding-left: 30px; padding-top: 16px;"> {{ opmerking.user_name }} </h2>
                                <p style = "position: absolute; padding-top: 70px; padding-left: 150px; ">{{ opmerking.tekstveld}}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class = "tab_scroll_bar">
                    <i class = "fa fa-chevron-down fa-2x"> </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     {# Dump #}
       <pre>
        {{ dump(data.0.id) }}
       </pre>

    <script>
        

    </script>



{% endblock %}

    {# width: 120px;
    height: 120px;
    aspect-ratio: 1;

    border-radius: 50%;
    border: 5px solid var(--lighter-orange);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; #}