{# opnemen van de main file#}


{% extends "main.html.twig" %}

{% block header %}

    <script src= "assets/jquery/tabs.js"></script>

    <script>
       
    {# Vegas.js #}
        $(document).ready( function() {
 
            const mySlides = [
                { src: "assets/img/vegan-burger.png" }
            ]
        
            $("#background-image").vegas({
                overlay: 'vegas/overlays/02.png',
                slides: mySlides,
            })

// Waardering functies
            $('.star').each((index,elem) => {
                const waardering = {{data.0.waardering}}
                console.log(`gem waardering is: ${waardering}`)
                const itemValue = $(elem).attr('data-value')
                if (itemValue <= waardering) {
                    $(elem).addClass('fas')
                }
            })
    
            $(".star").click( function() {
                const rating = $(this).attr('data-value')
                console.log(`Value: ${rating}`)

                //Clear all the red stars
                $(".star").removeClass('fas')

                // Paint it red!
                $('.star').each((index,elem) => {
                    const itemValue = $(elem).attr('data-value')
                    if (itemValue <= rating) {
                        $(elem).addClass('fas')
                    }
                })

                $.ajax({
                    url: "./index.php",
                    method: "GET",
                    data: {
                        action: "toevoegenWaardering",
                        gerecht_id: {{data.0.id}},
                        rating: rating},
                        success: function(data) {
                            console.log(rating)

                            // location.reload()
                    }
                })
            })

            // Favoriet functies
            $(".favoriet").click( function() {
                const favoriet = $(this).attr('data-value')
                const check = true
                console.log(check)

                // Check huidige favoriet status
                // if (check){
                //     $(this).addClass('fas')
                //     console.log("is favoriet")
                // }

                // Maak favoriet
                    if (favoriet == 1) {
                        $(this).addClass('fas')
                    }
                

                $.ajax({
                    url: "./index.php",
                    method: "GET",
                    data: {
                        action: "toevoegenFavoriet",
                        gerecht_id: {{data.0.id}}
                    },
                    success: function(data) {

                    console.log(`success: ${data}`)

                        // location.reload()
                    }
                })
            })
             
            
        })









    </script>

<div>


</div>
{% endblock %}


{#content detail page#}

{% block content %}
    <div class = "row justify-content-center m-5">
        <div class = "col-sm-5 col-xl-6 shadow-border image-detail" style = "background-image: url('{{data.0.afbeelding}}')">
        </div>
        <div class = "col-sm-7 col-xl-6 p-4 detail-background">
            <div class = "row">
                <div class = "col-12">
                    <div class = "icons-detail"><i class = "fa fa-user-group fa-xl" style = "color: red"></i> 4 </div>
                    <div class = "icons-detail"><i class="fa-solid fa-euro-sign fa-xl" style = "color:red"></i>{{data.0.totaal_prijs|round(1)|number_format(2, '.', ',')}}</div>
                    <div class = "icons-detail"><i class="fas fa-fire fa-xl" style = "color: red"></i> {{data.0.kcal|round(0)}}</div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-8" style = "padding-top:30px; padding-left:32px">
                    <h1 style= "color: #6e8722">{{data.0.titel}}</h1>
                </div>
                <div class = "col-4">
                    <i class="far fa-star star" data-value = "1"></i>
                    <i class="far fa-star star" data-value = "2"></i>
                    <i class="far fa-star star" data-value = "3"></i>
                    <i class="far fa-star star" data-value = "4"></i>
                    <i class="far fa-star star" data-value = "5"></i>
                </div>
            </div>
            <div class = "row">
                <div class = "col-6" style = "padding-left:32px">
                    <h4  style= "color: #6e8722; display: inline-block">Keuken</h4> <span style = "padding-left: 30px">{{data.0.keuken}}</span>
                </div>
                <div class = "col-6">
                    <h4  style= "color: #6e8722; display: inline-block">Type</h4> <span style = "padding-left: 30px">{{data.0.type}}</span>
                </div>
            </div>
            <div class = "row">
                <div class = "col-12" style = "padding-left:32px">
                    <p>{{data.0.lange_omschrijving}}<br><br>{{data.0.lange_omschrijving}}</p>
                </div>
            </div>
            <div class = "row">
                <div class = "col-6">
                    <div class="padding-button-detail">
                        <a href="index.php?gerecht_id={{data.0.id}}&action=detail" ><button type = "button" class = "button-detail" ><h3>Op lijst</h3></button></a>                               
                    </div>
                </div>
                <div class = "col-6">
                    <i class = " far fa-heart favoriet" data-value = "1"></i>
                </div>
            </div>
        </div>
    </div>
    <div class = "row justify-content-center">
        <div class = "col-8 detail-background-below">
            <div class = "tabs">
                <div class = "tabs_sidebar">
                    <button class = "tabs_button" data-for-tab = "1" >Tab #1</button>
                    <button class = "tabs_button" data-for-tab = "2" >Tab #2</button>
                    <button class = "tabs_button" data-for-tab = "3" >Tab #3</button>
                </div>
                <div class = "tabs_content"  data-tab = "1">
                    <h3> First tab heading #1</h3>
                    <p> dummy data 1 </p>
                </div>
                <div class = "tabs_content" data-tab = "2">
                    <h3> Second tab heading #2</h3>
                    <p> dummy data 2  </p>
                </div>
                <div class = "tabs_content" data-tab = "3">
                    <h3> Third tab heading #3</h3>
                    <p> dummy data 3 </p>
                </div>
            </div>
        </div>
    </div>
    
     {# Dump #}
       <pre>
        {{ dump(data.0.is_favoriet) }}
       </pre>

    <script>
        function setupTabs () {
            document.querySelectorAll(".tabs_button") .forEach(button => {
                button.addEventListener("click", () => {
                    const sideBar = button.parentElement;
                    const tabsContainer = sideBar.parentElement;
                    const tabNumber = button.dataset.forTab;
                    const tabToActivate = tabsContainer.querySelector(`.tabs_content[data-tab="${tabNumber}"]`);

                    sideBar.querySelectorAll(".tabs_button") .forEach(button => {
                        button.classList.remove("tabs_button--active");
                    });
                    tabsContainer.querySelectorAll(".tabs_content") .forEach(button => {
                        button.classList.remove("tabs_content--active");
                    });

                    button.classList.add("tabs_button--active");
                    tabToActivate.classList.add("tabs_content--active");
                    console.log(sideBar)
                    console.log(tabsContainer)
                    console.log(tabNumber)
                    console.log(tabToActivate)
                    });
            });

        }

        document.addEventListener("DOMContentLoaded", () => {
            setupTabs();

           
            document.querySelectorAll(".tabs").forEach(tabsContainer => {
                tabsContainer.querySelector(".tabs_sidebar .tabs_button") .click();
            });
        });



    </script>



{% endblock %}