{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
{# Vegas.js #}
    <script>
        $(document).ready( function() {
 
            const mySlides = [
                { src: "https://picsum.photos/id/1/1900/1200", title: "Title #1", subtitle: "Subtitle #1" },
                { src: "https://picsum.photos/id/10/1900/1200", title: "Title #2", subtitle: "Subtitle #2"  },
                { src: "https://picsum.photos/id/100/1900/1200", title: "Title #3", subtitle: "Subtitle #3"  },
                { src: "https://picsum.photos/id/1000/1900/1200", title: "Title #4", subtitle: "Subtitle #4"  },
            ]
        
            $("#background-image").vegas({
                overlay: 'vegas/overlays/02.png',
                slides: mySlides,
                })
            })


    </script>

{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}

 {# Loop #}
    <div class= "row">
        {% for record in data | slice (0, 4)%}
                <div class = "col-sm-12 col-xl-4 m-5  shadow-border">
                
                    <div class = "row" style = "height: 200px;">
                        <div class = "col-md-12 image-detail-home" style= "background-image: url('{{record.afbeelding}}'); ">
                        </div>
                    </div>
                    <div class= "row p-3">
                        <div class= "col-md-6">
                            <h2 style= "color: #6e8722">{{ record.titel }}</h2>
                        </div>
                        <div class = "col-md-6">
                            <div class="">
                                {% for i in range(1, 5) %}
                                    {% if record.waardering|round >= i %} 
                                        <i class="fa-sharp fa-solid fa-star fa-lg" style = "color: #fca01f" ></i>
                                    {% else %} 
                                        <i class="fa-regular fa-star fa-lg" style = "color: #fca01f" ></i>
                                        {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-md-12">
                        <p>{{record.korte_omschrijving}} </p>
                        </div>
                    </div>
                    <div class = "row" >
                        <div class= "col-md-6">              
                            <div class="padding-button">
                                <a href="index.php?recipe_id={{record.id}}&action=detail" ><button type = "button" class = "button" ><h3>Smullen!</h3></button></a>                               
                            </div>
                        </div>
                        <div class = "col-md-6 padding-icons">
                        <div class = "icons"><i class = "fa fa-user-group fa-xl" style = "color: red"></i> 4 </div>
                         <div class = "icons"><i class="fa-solid fa-euro-sign fa-xl" style = "color:red"></i>{{record.totaal_prijs|round(1)|number_format(2, '.', ',')}}</div>
                         <div class = "icons"><i class="fas fa-fire fa-xl" style = "color: red"></i> {{record.kcal|round(0)}}</div>
                        </div>
                    </div> 
                </div>
        {% endfor %}
    </div



     {# Dump #}x
       {# <pre>
       {{dump(gerecht_id)}}
        {{ dump(data) }}
       </pre> #}

{% endblock %}








{# TEST CODE #}
                            {# <form method="GET" action="../index.php">  
                                <div class="padding-button">
                                    <input type= "hidden" name = "action" value= "detail">
                                    <input type = "hidden" name = "gerecht_id" value = "{{record.id}}">
                                    <button type = "button" class = "button button-padding" ><h3>Smullen!</h3></button>                                
                                </div>
                            </form> #}